.inicio {
    width: 100%;
    height: 100dvh;
    background-image: url('/assets/Valorant_EP-8.jpg');
    background-color: #111;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt-valorant {
    color: #fff;
    font-weight: 600;
    font-size: 2rem; 
}

.valorant {
    margin: 5rem 0 5rem 0;
}

.title {
    margin: 5rem 5rem 0rem 7rem;
    font-size: 7rem; 
    font-weight: 800;
    color: #0f1923;
}

.title hr {
    margin-bottom: 3rem;
    border: 0.1rem solid #0f1923;
    width: 50%;
}

.somos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10rem;
}

.box-text{
    color: #383e3a;
    margin-top: 2rem;
    width: 35%;
}

.box-text h2{
    margin-bottom: 1.5rem;
    font-weight: 800;
}

.box-text p {
    
    margin-bottom: 5rem;
    color: #768079;
    font-size: 2rem;
    font-weight: 600; 
}

.gameIMG {
    border-radius: 2rem;
    box-shadow: 0 29px 52px rgba(0,0,0,0.40), 0 25px 16px rgba(0,0,0,0.20);
}

.agentes {
    height: 100dvh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #ff4655;   
    color: #fff;
}

.agente-text {
    width: 30%;
}

.agente-text h1 {
    margin-bottom: 5rem;
    font-size: 7rem; 
    font-weight: 800;
}

.agente-text h1 hr {
    border: 0.1rem solid #fff;
    margin-bottom: 5rem;
}

.agente-text h2 {
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.agente-text p {
    font-size: 2rem; 
    font-weight: 600;
    color: #fff;
}

.btn-agentes {
    margin-top: 5rem;
    color: #ff4655;
    background-color: #fff;
}

.mapas {
    width: 100%;
    height: 100dvh;
    background-image: url('/assets/maps-03ebbf2c074f13a65af1dba0c80f767e.png');
    background-color: #ece8e1;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.mapa-title {
    width: 30%;
    margin-left: 7rem;
    
}

.mapa-title h1 {
    margin-bottom: 5rem;
    font-size: 7rem; 
    font-weight: 800;
    color: #0f1923;
}

.mapa-title h1 hr {
    margin-bottom: 5rem;
    border: 0.1rem solid #0f1923;
}

.mapa-title h2 {
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: #383e3a;
    
}

.mapa-title p {
    font-size: 2rem; 
    margin-bottom: 5rem;
    color: #768079;
    font-weight: 600;
}
