footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    padding: 2rem 0rem;
}


footer .logo {
    height: 7.5rem;
    width: 7.5rem;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    margin: 0 3.5rem;
    font-weight: 600;
    border-radius: 1rem;
    font-size: 2rem;
}

footer ul li a:hover {
    background-color: #ff4655;
}