footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    padding: 2rem 0rem;
}

footer ul {
    display: flex;
}

footer ul li {
    list-style: none;
    display: block;
    color: #fff;
    margin: 0 1rem;
    font-weight: 600;
    
}