.Arsenal-title {
    width: 100%;
    height: 75dvh;
    background-image: url('/assets/Arsenal_Riot Client.png');
    background-color: #111;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.Arsenal-title hr {
    margin-bottom: 2.5rem;
    border: 0.1rem solid #fff;
}

.Arsenal-title h1 {
    margin-top: 10rem;
    margin-left: 10rem;
    font-size: 7rem;
    font-weight: 800;
    color: #fff;
}

.Arsenal-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7rem 0rem;
    margin: 10rem 0rem 10rem 10rem;
   
}